In [3]:
#These are the libraries you can use.  You may add any libraries directy related to threading if this is a direction
#you wish to go (this is not from the course, so it's entirely on you if you wish to use threading).  Any
#further libraries you wish to use you must email me, james@uwaterloo.ca, for permission.

from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
import random
from datetime import datetime

## Group Assignment
### Team Number: 17
### Team Member Names: Jake, Jennifer, Justus, Precious
### Team Strategy Chosen: Market Meet

Disclose any use of AI for this assignment below (detail where and how you used it).  Please see the course outline for acceptable uses of AI.

## Code

In [5]:
## Read in portfolio of tickers and create a dataframe
start_date = '2023-10-01'
end_date = '2024-09-30'
count_days = 0
monthly_vol = []

# This function counts the monthly volume of the stock and finds the average monthly volume
def count_volume(ticker):
    ticker_hist = ticker.history(start=start_date, end=end_date, interval='1mo')
    monthly_vol.append(df['Volume'])
    return np.mean(monthly_vol)
    
## function that takes in a dataframe of stock tickers removes unlisted, low volume or stocks not denominated in USD or CAD
def remove_unwanted(df):
    i = 0
    while i <= (1 - len(df)):
        try:
            ticker = yf.Ticker(df.iloc[i,0])
        except: 
            df.drop(i)
        else:
            currency = ticker.info['currency']
            if (currency == 'USD' or 'CAD') and (count_volume(ticker) > 100000):
                i += 1
            else: 
                df.drop(i)  
    return df

       AAPL
0      ABBV
1       ABT
2       ACN
3       AGN
4       AIG
5      AMZN
6       AXP
7        BA
8       BAC
9     BB.TO
10     BIIB
11       BK
12      BLK
13      BMY
14        C
15      CAT
16     CELG
17       CL
18       KO
19      LLY
20      LMT
21       MO
22      MON
23      MRK
24      PEP
25      PFE
26       PG
27       PM
28     PYPL
29     QCOM
30      RTN
31    RY.TO
32  SHOP.TO
33     T.TO
34    TD.TO
35      TXN
36      UNH
37      UNP
38      UPS
39      USB

## Contribution Declaration

The following team members made a meaningful contribution to this assignment:

Insert Names Here.